[
  {
    rabbit,
    [
      {default_vhost,       <<"/custom">>},
      {default_user,        <<"guest">>},
      {default_pass,        <<"qwed45">>},
      {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
      {default_user_tags, [administrator]},
      {autocluster, [
            {backend, consul},
            {consul_host, "localhost"},
            {consul_port, 8500},
            {consul_acl_token, ""},
            {consul_svc, "rabbit_auto"},
            {cluster_name, "rabbit_auto"}
      ]},

      {loopback_users, []},
      {cluster_partition_handling, autoheal},
      {delegate_count, 64},
      {fhc_read_buffering, false},
      {fhc_write_buffering, false},
      {heartbeat, 60},
      {queue_index_embed_msgs_below, 0},
      {queue_index_max_journal_entries, 8192},
      {queue_master_locator, <<"min-masters">>},
      {log_levels, [{autocluster, info},
                    {connection, error},
                    {channel, warning},
                    {federation, info},
                    {mirroring, info}]},
      {vm_memory_high_watermark, 0.8}
    ]
  }
].

